<footer class="footer">
  <small>
    <a href="http://cafedebut.com/">Rails Sample App</a>
    by Kiril Peyanski
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://www.cafedebut.com">News</a></li>
    </ul>
  </nav>
</footer>